<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Cloud Starter Netflix Zuul Demo</title>
    <link href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.6.1/jquery.min.js"></script>

    <script type="text/javascript" th:src="@{/js/grafana-config.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>

</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Spring Cloud Starter Netflix Zuul Demo</strong>
            </a>
        </div>
    </div>
</header>
<main role="main">
    <iframe src="/grafana" id="grafana" class="w-100"></iframe>
</main>

</body>
</html>